# Core numerical computing
numpy
pandas
scipy

# Visualization
matplotlib
seaborn

# Jupyter ecosystem
jupyterlab
ipykernel
jupyter-client

# Machine learning
scikit-learn

# Data handling / utilities
tqdm
pyyaml
glob

# Stats
statsmodels

# other
pynvim
neovim
